{% extends "base.html" %}

{% block title %}Products - Cookiebox{% endblock %}

{% block content %}
<h1>Our Cookies</h1>

<div class="products-list">
    {% for product in products %}
    <div class="products-item">
        <a href="{{ url_for('products_show', product_id=product.id) }}">
            <img src="{{ url_for('static', filename='images/products/' + product.image) }}" alt="{{ product.name }}">
            <h2>{{ product.name }}</h2>
        </a>
        <p class="product-price">${{ product.price }}</p>

        <form method="POST" action="{{ url_for('delete_product', product_id=product.id) }}">
            <button type="submit" class="delete-button">Delete</button>
        </form>
    </div>

    {% endfor %}
</div>
{% endblock %}